﻿body {
    background-color: #222;
    height: 49px;
}

.container-full {
    margin: 0 auto;
    width: 100%;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3 {
    padding: 2px;
    padding-right: 5px;
    padding-left: 5px;
}

.vertical-align {
    display: flex;
    align-items: center;
}

img {
    max-width: 100%;
    max-height: 100%;
}

#page-item-custom {
    background-color: #222;
    border: none;
}

#pagination-custom {
    background-color: #222;
    border: none;
}

.knkmoviescontainer {
    background-color: #222;
}

.knkmoviesinfo {
    color: #E6E6E6;
}

.knkmoviepicstyle {
    height: 100%;
    width: 100%;
    min-height: 100%;
    border-radius: 3px;
}

.knkmoviesmall {
    border: none;
    margin-bottom: 0px;
    padding: 0px;
    width: 100%;
    height: 380px;
    min-height: 380px;
    max-height: 380px;
}

.knkmoviethumb {
    float: left;
    margin: 5px;
    margin-left: 2px;
    margin-right: 2px;
    padding: 0px;
    width: 290px;
    height: 450px;
    max-width: 290px;
    max-height: 450px;
    font-size: smaller;
}

.knkcastingsmall {
    margin-bottom: 0px;
    width: 100%;
    height: 250px;
    min-height: 250px;
    max-height: 250px;
}

.knkcastingthumb {
    float: left;
    margin: 5px;
    margin-left: 2px;
    margin-right: 2px;
    padding: 2px;
    width: 190px;
    height: 320px;
    max-width: 190px;
    max-height: 320px;
    color: #E6E6E6;
    font-size: small;
}

.knkmovie-color-none {
    color: white;
}

.knkmovie-color-viewed {
    color: darkcyan;
}

.container-full {
    position: relative;
    top: -25px;
    right: 0px;
}
.knkmovie-color-userrated {
    color: cornflowerblue;
}

.knkmovie-back-none {
    background-color: #111111;
    border: none;
}

.knkmovie-back-link {
    background-color: #222222;
    border: none;
}

.knkmovie-back-file {
    background-color: #333333;
    border: none;
}

.knkmovieposter {
    float: left;
    margin: 5px;
    padding: 5px;
    width: 480px;
    max-width: 480px;
    min-width: 480px;
}

.knkhorizontaldiv {
    width: 100%;
    max-width: 480px;
    min-width: 480px;
}

.knkmoviepropertiespannel {
    float: left;
    margin: 5px;
    padding: 5px;
    width: 600px;
    max-width: 600px;
    min-width: 600px;
    text-align: left;
}

.knkmoviemoviespannel {
    float: left;
    margin: 5px;
    padding: 5px;
    max-width: 900px;
    min-width: 600px;
}

.wrapper {
    position: relative;
}

.bottom {
    position: absolute;
    bottom: 0;
}

.comment-avatar {
    width: 65px;
    height: 65px;
    position: relative;
    z-index: 99;
    float: left;
    border: 3px solid #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    overflow: hidden;
}