﻿@using MovieModel.Criterias
@model MoviesCriteria
@{
    var lCri = Model;
    var elements = lCri.Elements;
    var listMovies = lCri.CurrentList();
    var lNumberPages = Convert.ToInt16(Math.Ceiling((decimal)listMovies.Items.Count() / elements));
    var lPagines = 5;
    var fromitm = lCri.Page - 3;
    while (fromitm <= 0)
    {
        fromitm++;
    }
    var toitm = fromitm + lPagines;
    while (toitm > lNumberPages)
    {
        toitm--;
        if (fromitm > 1)
        {
            fromitm--;
        }
    }

}
@if (lNumberPages > 1)
{
    Session["Criteria"] = KnkCore.Utilities.KnkCoreUtils.XmlSerializeObject<MoviesCriteria>(lCri);
    <div class="col-md-1"></div>
    <div class="col-md-10 container-fluid text-center row">
        <ul class="pagination justify-content-end" id="pagination-custom" style="margin:5px;">
            @if (lCri.Page > 1)
            {
                <li>@Html.ActionLink($"First", "MoviesPaged", "Movie", new { Page = 1 }, new { @class = "page-item", @id= "page-item-custom" })</li>
                <li>@Html.ActionLink($"Previous", "MoviesPaged", "Movie", new { Page = lCri.Page - 1 }, new { @class = "page-item", @id = "page-item-custom" })</li>
            }
            @for (int i = fromitm; i <= toitm; i++)
            {
                if (i == lCri.Page)
                {
                    <li class="page-item active">
                        <a href=@Url.Action("MoviesPaged", "Movie", new { Page = i })><span class="page-link">@i</span></a>
                    </li>
                }
                else
                {
                    <li>@Html.ActionLink($"{i}", "MoviesPaged", "Movie", new { Page = i }, new { @class = "page-item", @id = "page-item-custom" })</li>
                }
            }
            @if (lNumberPages > lCri.Page)
            {
                <li>@Html.ActionLink($"Next", "MoviesPaged", "Movie", new { Page = lCri.Page + 1 }, new { @class = "page-item", @id = "page-item-custom" })</li>
                <li>@Html.ActionLink($"Last {lNumberPages}", "MoviesPaged", "Movie", new { Page = lNumberPages }, new { @class = "page-item", @id = "page-item-custom" })</li>
            }
        </ul>
    </div>
}
