﻿@model string
<div class="knkcastingthumb" style="background-color:#333333;">
    <div class="thumbnail knkcastingsmall img-rounded">
        <p class="text-center text-nowrap h1 vcenter" style="width:100%;height:100%;display:inline-block;color:#222"><b>@Model</b></p>
    </div>
</div>