﻿@model IEnumerable<MovieModel.Entities.MovieCasting>
@{
    var list = Model;
}
@if (list != null)
{
    var i = 0;
    var movie = list.FirstOrDefault();
    foreach (var lArt in list)
    {
        if (i > 0)
        {
            @Html.Raw(", ");
        }
        <a href=@Url.Action("Details", "Person", new { id = @lArt.IdPerson.Value ?? 0 })><b>@lArt.IdPerson.Reference.ToString()</b></a>
        i++;
    }
    if (movie != null)
    {
        @Html.Raw(", ");
        <a href=@Url.Action("MovieCasting", "Movie", new { id = @movie.IdMovie ?? 0 })><b>(Full Casting)</b></a>
    }
}
