﻿@model MovieModel.Entities.Comment
@{
    var comment = Model;
    var author = string.Empty;
    var iduser = comment?.UserCreationId?.Value ?? Utils.CurrentUserId();
    var usu = comment.Connection().GetItem<MovieModel.Entities.User>(iduser);
    var comments = comment.Comments();
    var isnew = comment.IsNew();
    var colapseid = "";
    var colapseidref = $"#collapse{comment.IdComment}";
    var itemowner = comment.ItemOwner;
    var divclass = "comment-main-level";
    var newcom = comment;
    if (isnew)
    {
        colapseid= $"#collapse{itemowner.PrimaryKeyValue()}";
        divclass = divclass + " panel-collapse";
        if (comment.Object == comment.GetType().ToString())
        {
            divclass = divclass + " collapse";
        }
    }
    else
    {
        newcom = comment.Comments().Create();
        newcom.ItemOwner = comment;
        newcom.UserCreationId = Utils.CurrentUser().IdUser;
        if (comment.UserCreationId.Value == Utils.CurrentUserId())
        {
            author = "by-author";
        }
    }
}
<li>
    <div class="col-md-12 row">
        @*we should toggle the hidden comment when needed*@
        <div id=@colapseid class="@divclass"> 
            <div class="row">
                <div class="col-md-1">
                    <div class="comment-avatar"><img src=@Url.Content("~/Resources/46-512.png") alt="Image" width="80" height="80"></div>
                </div>
                <div class="col-md-11">
                    <div class="comment-box">
                        @if (!isnew)
                        {
                            <div class="comment-head">@comment.CommentText</div>
                            <div class="comment-content">
                                <h6 class="comment-name">@comment.CreationDate</h6>
                                <h6 class="comment-name @author">@usu.ToString()</h6>
                                <a data-toggle="collapse" data-parent="#accordion" href=@colapseidref>
                                    <i class="fa fa-reply"></i>
                                </a>
                                <i class="fa fa-thumbs-o-down"></i>
                                <i class="fa fa-thumbs-o-up"></i>
                            </div>
                        }
                        else
                        {
                            using (Html.BeginForm("AddComment", "Comment", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <div class="comment-head">
                                    @Html.Hidden("Object", comment.Object)
                                    @Html.Hidden("IdValue", comment.IdValue.Value)
                                    @Html.TextArea("CommentText", comment.CommentText, 2, 0, new { @style = "min-width:100%" })
                                    @Html.Hidden("CreationUserId", comment.UserCreationId.Value)
                                </div>
                                @*<div class="comment-content">
                                    <button type="submit" class="btn btn-primary" style="width:100%">Añadir</button>
                                </div>*@
                                <div class="comment-content">
                                    <h6 class="comment-name">@comment.CreationDate</h6>
                                    <h6 class="comment-name @author">@usu.ToString()</h6>
                                    <a data-toggle="collapse" data-parent="#accordion" href=@colapseidref>
                                        <i class="fa fa-reply"></i>
                                    </a>
                                    <i class="fa fa-thumbs-o-down"></i>
                                    <i class="fa fa-thumbs-o-up"></i>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        @if (comments.Count() > 0)
        {
            <ul class="comments-list reply-list">
                @foreach (var com in comments.Items)
                {
                    @Html.DisplayFor(d => com, "comment");
                }
            </ul>
        }
    </div>
    @Html.DisplayFor(d => newcom, "comment");
</li>
