﻿@model MovieModel.Entities.Comment
@{
    var comment = Model;
    var isroot = comment.IdMovieOwner!=null;
    var iduser = comment?.UserCreationId?.Value ?? Utils.CurrentUserId();
    var usu = comment.Connection().GetItem<MovieModel.Entities.User>(iduser);
    var comments = comment.Comments();
    var isnew = comment.IsNew();
    var colapseid = "";
    var colapseidref = $"#collapse{comment.IdComment}";
    var itemowner = comment.ItemOwner;
    var divsmall = "col-xs-1 col-md-1 col-lg-1";
    var divlarge = "col-xs-11 col-md-11 col-lg-11";
    var divclass = divlarge;
    var level = $"{25 * comment.CommentLevel}px";
    var newcom = comment;
    var comdate = string.Empty;
    var formname = $"form{itemowner.PrimaryKeyValue()}";
    var formnameidmovie = $"idmovie";
    var formnameidcomment = $"idcomment";
    var formnamecomment = $"commenttext";
    if (isnew)
    {
        if (!isroot)
        {
            colapseid = $"collapse{itemowner.PrimaryKeyValue()}";
            divclass = divclass + " panel-collapse collapse";
        }
    }
    else
    {
        comdate = comment.CreationDate.Value.ToLongDateString() + " a las " + comment.CreationDate.Value.ToLongTimeString();
        newcom = comment.Comments().Create(false);
        newcom.IdCommentOwner = comment;
        newcom.UserCreationId = Utils.CurrentUser().IdUser;
    }
}
<div id=@colapseid class="@divclass" style="margin-left:@level">
    <div class="row col-md-12">
        <div class=@divsmall>
            <div class="comment-avatar"><img src=@Url.Content("~/Resources/46-512.png") alt="Image" width="48" height="48"></div>
        </div>
        <div class="@divlarge nopadding">
            <div class="row col-md-12">
                @if (!isnew)
                {
                    <div class="@divsmall text-center nopadding">
                        <a data-toggle="collapse" data-parent="#accordion" href=@colapseidref>
                            <i class="fa fa-reply"></i>
                        </a><br />
                        <i class="fa fa-thumbs-o-down"></i>
                        <i class="fa fa-thumbs-o-up"></i>
                    </div>
                    <div class="@divlarge nopadding">
                        <p>@comment.CommentText</p>
                        <h6>@usu.ToString() - @comdate</h6>
                    </div>
                }
                else
                {
                    using (Html.BeginForm("AddComment", "Comment", FormMethod.Post, new { enctype = "multipart/form-data", id = formname, Name = formname }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="@divlarge nopadding">
                            @Html.TextArea("commenttext", comment.CommentText, 2, 0, new { id = formnamecomment, Name = formnamecomment, style = "min-width:100%" })
                            @Html.Hidden("idmovie", comment.IdMovieOwner?.Value, new { id = formnameidmovie, Name = formnameidmovie })
                            @Html.Hidden("idcomment", comment.IdCommentOwner?.Value, new { id = formnameidcomment, Name = formnameidcomment })
                        </div>
                        <div class="@divsmall nopadding">
                            <button type="submit" class="btn btn-primary nopadding">Añadir</button>
                        </div>
                    }
                }
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
@if (!isnew)
{
    @Html.DisplayFor(d => newcom, "comment");
    if (comments.Count() > 0)
    {
        foreach (var com in comments.Items)
        {
            @Html.DisplayFor(d => com, "comment");
        }
    }
}

@*@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
}*@