﻿@model Tuple<string, string>
<p class="btn btn-primary" style="width:100%;background-color:#222222;border:none;">
    <b>@Model.Item1
    @if (!string.IsNullOrEmpty(@Model.Item2))
    {
        @Html.Raw("&nbsp")
        <a href=@Model.Item2 style="color:antiquewhite" target="_blank">@Model.Item2</a>
    }
</b>
</p>
