﻿@model MovieModel.Entities.MovieCasting
@{
    var person = Model.IdPerson.Reference;
    var role = Model.Role;
    var searchperson = $"https://www.google.com/search?q={Uri.EscapeDataString(person.Name)}&tbm=isch";
    var searchrole = $"https://www.google.com/search?q={Uri.EscapeDataString(person.Name + " " + Model.IdMovie.Reference.Title)}&tbm=isch";
    List<string> lMsg = new List<string>();
    string lTxt = string.Empty;
    if (person.Movies != null)
    {
        lMsg.Add($"M {person.Movies}");
    }
    if (Utils.CurrentUserId() != null)
    {
        if (person.RatedMovies != null)
        {
            lMsg.Add($"R {person.RatedMovies}");
        }
        if (person.UserRating != null)
        {
            lMsg.Add($"U {person.UserRating:0.0}");
        }
        if (person.Popularity != null)
        {
            lMsg.Add($"P {person.Popularity:0.0}");
        }
    }
    if (lMsg.Count > 0)
    {
        lTxt = lMsg.Aggregate((i, j) => i + " " + j);
    }

}
<div class="knkcastingthumb">
    @if (person.Extender.Poster == null)
    {
        <a class="thumbnail knkcastingsmall img-rounded" href=@Url.Action("Details", "Person", new { id = person.IdPerson.Value ?? 0 }) style="background-color:lightblue">
        </a>
    }
    else
    {
        <a class="thumbnail knkcastingsmall img-rounded" href=@Url.Action("Details", "Person", new { id = person.IdPerson.Value ?? 0 })>
            <img class="img-rounded" src=@person.Extender.Poster width="100%" height="100%" style="min-height:100%;" />
        </a>
    }
    <p class="text-center text-nowrap" style="width:100%;display:inline-block">
        <b><a href=@searchperson target="_blank">@person.Name</a></b><br />
        @lTxt
        @if (!string.IsNullOrEmpty(role))
        {
            <br /><a href=@searchrole target="_blank">@role</a>
        }
    </p>
</div>
