﻿@using System.Linq
@model MovieModel.Entities.Person
@{
    Utils.ConnectDatabase();
    var person = Model;
    var auxsep = new Tuple<string, string>("Artist Scraped From", "https://www.themoviedb.org/");
    var auxwor = new Tuple<string, string>("Worked with", "https://www.themoviedb.org/");
    var searchstr = $"https://www.google.com/search?q={Uri.EscapeDataString(person.Name)}&tbm=isch";
    var searchtmdp = $"https://www.themoviedb.org/person/{person.TmdbId}";
    var searchimdb = $"https://www.imdb.com/search/name?name={Uri.EscapeDataString(person.Name)}";
    if (!string.IsNullOrEmpty(person.ImdbId))
    {
        searchimdb = $"https://www.imdb.com/name/{person.ImdbId}/";
    }
    ViewBag.Title = person.Name;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="col-md-4">
        <img src=@person.Extender.Poster width="100%" />
        <div class="col-md-12" style="padding:0px;border-top-style:solid;border-top-width:1px;">
            @Html.DisplayFor(d => auxwor, "separator")
            @Html.Action("WorkedWith", "Person", new { personId = person.IdPerson.Value })
        </div>
    </div>
    <div class="col-md-8 knkmoviesinfo">
        <dl class="dl-horizontal">
            <dt>&nbsp;</dt>
            <dd>&nbsp;</dd>
            <dt>Artist</dt>
            <dd><a href=@searchstr target="_blank">@person.Name</a></dd>
            @if (!string.IsNullOrEmpty(person.BirthDay))
            {
                <dt>Birthday</dt>
                <dd>@person.BirthDay</dd>
            }
            @if (!string.IsNullOrEmpty(person.BirthPlace))
            {
                <dt>BirthPlace</dt>
                <dd>@person.BirthPlace</dd>
            }
            @if (!string.IsNullOrEmpty(person.HomePage))
            {
                <dt>HomePage</dt>
                <dd>@person.HomePage</dd>
            }
            <dt>&nbsp;</dt>
            <dd>&nbsp;</dd>
            <dt>Scraped Date</dt>
            <dd>@person.ScrapedDate</dd>
            <dt>Tmdb</dt>
            <dd><a href=@searchtmdp target="_blank">Tmdb: @person.Name</a></dd>
            <dt>Imdb</dt>
            <dd><a href=@searchimdb target="_blank">Imdb: @person.Name</a></dd>
            @if (person.Movies != null)
            {
                <dt>Movies</dt>
                <dd>@person.Movies</dd>
            }
            @if (person.Popularity != null)
            {
                <dt>Popularity</dt>
                <dd>@person.Popularity</dd>
            }
            <dt>Rating</dt>
            <dd>@Html.MweStarRating(person.Rating)</dd>
            @if (person.RatedMovies != null && Utils.IsLoggedUser())
            {
                <dt>Movies Rated</dt>
                <dd>@person.RatedMovies</dd>
            }
            @if (person.UserRating != null && Utils.IsLoggedUser())
            {
                <dt>User Rating</dt>
                <dd>@Html.MweStarRating(person.UserRating)</dd>
            }
            <dt>&nbsp;</dt>
            <dd>&nbsp;</dd>
            @if (!string.IsNullOrEmpty(person.Extender.Biography))
            {
                <dt>Biography</dt>
                <dd>@person.Extender.Biography</dd>
            }
        </dl>
    </div>
    <div class="col-md-8" style="border-top-style:solid;border-top-width:1px;padding:0px;">
        @Html.DisplayFor(d => auxsep, "separator")
        <div class="col-md-12" style="border-top-style:solid;border-top-width:1px;padding:0px;">
            @Html.Action("PersonId", "Movie", new { PersonId = person.IdPerson.Value })
        </div>
    </div>
}
