﻿@using MovieModel.Lists
@using System.Linq
@model Persons
@{
    Utils.ConnectDatabase();
    var persons = new Persons();
    var auxsep = new Tuple<string, string>("Casting Scraped From", "https://www.themoviedb.org/");
    ViewBag.Title = $"Most Rated Actors";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="col-md-12">
    @Html.DisplayFor(d => auxsep, "separator")
    @{
        var items = 0;
        if (Utils.CurrentUserId() > 0)
        {
            items = 9 * 5;
        }

        var lCast = new List<MovieModel.Entities.Person>();

        if (items > 0)
        {
            lCast = (from cst in persons.Items
                     orderby cst.RatedMovies descending, cst.UserRating descending, cst.Popularity descending
                     select cst).Take(items * 5).ToList();


            foreach (var cst in lCast)
            {
                @Html.Action("Thumbnail", "Person", new { person = cst })
            }
        }
    }
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
