﻿@using System.Linq
@model MovieModel.Entities.Movie
@{
    Utils.ConnectDatabase();
    var movie = Model;
    var auxsep = new Tuple<string, string>("Casting Scraped From", "https://www.themoviedb.org/");
    ViewBag.Title = $"Casting {movie.Title}";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="col-md-4">
        <img src=@movie.Extender.Poster width="100%" />
    </div>
    <div class="col-md-8">
        @Html.DisplayFor(d => auxsep, "separator")
        @{
            var lTypes = (from cst in movie.Casting().Items
                          where cst.IdCastingType.Reference.ImportCrew
                          group cst by cst.IdCastingType.Reference.Department into g
                          orderby g.Key
                          select new { Department = g.Key, Items = g.ToList().OrderBy(c => c.IdCastingType).ThenBy(c => c.Ordinal) }
                            );

            foreach (var dep in lTypes)
            {
                var department = dep.Items.FirstOrDefault().IdCastingType.Reference.Department;
                @Html.DisplayFor(d => department, "castingsepthumb")
                foreach (var cst in dep.Items)
                {
                    var aux = new Tuple<MovieModel.Entities.Person, string>(cst.IdPerson.Reference, cst.Role);
                    @Html.DisplayFor(d => aux, "castingthumb")
                }
            }
        }
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
