﻿@using System.Linq
@using MovieModel.Criterias
@using Catharsis.Web.Widgets
@model MovieModel.Entities.Movie
@{
    Utils.ConnectDatabase();
    var movie = Model;
    ViewBag.Title = $"{movie.Title} ({movie.Year})";
    var enablelink = false;
    var auxsep = new Tuple<string, string>("Movie Scraped From", "https://www.themoviedb.org/");
    var auxsaga = new Tuple<string, string>(movie?.MovieSet?.Name, "https://www.themoviedb.org/");
    var auxrelateds = new Tuple<string, string>($"{movie.Title} Relateds", "https://www.themoviedb.org/");
    var directors = Utils.CastingList(movie, "Directing");
    var actors = Utils.CastingList(movie, "Casting");
    var videos = movie.Pictures().Items.Where(vid => vid.IdType == MovieModel.Enums.LinkTypeEnum.Videos);
    var media = movie.Files().Items.FirstOrDefault();
    if (ViewBag.EnableLink != null)
    {
        enablelink = (bool)ViewBag.EnableLink;
    }
    var lstmovies = movie.Links().Datasource();
}

@helper MovieSetLink(string movieset)
{
    @Html.ActionLink(movieset, "MovieSet", "Movie", new { MovieSet = movieset }, null)
}

@helper CountriesLink(string countries)
{
    var i = 0;
    foreach (var lCountry in countries.Split(','))
    {
        if (i > 0)
        {
            @Html.Raw(", ");
        }
        @Html.ActionLink(lCountry.TrimEnd().TrimStart(), "Country", "Movie", new { Country = lCountry.TrimEnd().TrimStart() }, null)
        i++;
    }
}

@helper CompaniesLink(string companies)
{
    var i = 0;
    foreach (var lCompany in companies.Split(','))
    {
        var company = lCompany.TrimEnd().TrimStart();
        if (!string.IsNullOrEmpty(company))
        {
            if (i > 0)
            {
                @Html.Raw(", ");
            }
            @Html.ActionLink(company, "Company", "Movie", new { Company = company }, null)
            i++;
        }
    }
}

@helper KeywordLink(string keywords)
{
    var i = 0;
    foreach (var lKeyword in keywords.Split('#'))
    {
        var keyword = lKeyword.TrimEnd().TrimStart();
        if (!string.IsNullOrEmpty(keyword))
        {
            if (i > 0)
            {
                @Html.Raw(" ");
            }
            @Html.ActionLink($"#{keyword}", "Keyword", "Movie", new { Keyword = keyword }, null)
            i++;
        }
    }
}

@helper GenresLink(string genres)
{
    if (!string.IsNullOrEmpty(genres))
    {
        var i = 0;
        foreach (var lGenre in genres.Split(','))
        {
            if (i > 0)
            {
                @Html.Raw(", ");
            }
            @Html.ActionLink(lGenre.TrimEnd().TrimStart(), "Genre", "Movie", new { Genre = lGenre.TrimEnd().TrimStart() }, null)
            i++;
        }
    }
}

@helper YearLink(string year)
{
    @Html.ActionLink(year, "Year", "Movie", new { Year = year }, null)
}

@helper RelatedsLink(MovieModel.Entities.Movie movie)
{
    @Html.ActionLink($"{movie.Relateds().Count()} Related Movies", "RelatedMovies", "Movie", new { movieid = movie.IdMovie, title = movie.ToString() }, null)
}

@using (Html.BeginForm())
{
    <div class="col-md-12 knkmoviescontainer">
        @Html.AntiForgeryToken()
        <div class="col-md-4">
            <img src=@movie.Extender.Poster width="100%" />
            @if (movie.MovieSet != null)
            {
                <div class="col-md-12" style="padding:0px;border-top-style:solid;border-top-width:1px;">
                    @Html.DisplayFor(d => auxsaga, "separator")
                    <div class="col-md-12" style="padding:0px;border-top-style:solid;border-top-width:1px;">
                        @Html.Action("Saga", "Movie", new { MovieSet = movie.MovieSet.Name })
                    </div>
                </div>
            }
        </div>
        <div class="col-md-8 knkmoviesinfo">
            <div class="col-md-6" style="padding:5px 2px 5px 0px;">
                <div class="col-md-12 @Utils.MovieBackClass(movie)" style="border-radius:12px;padding:0px;">
                    <dl class="dl-horizontal">
                        @if (movie.Title != null)
                        {
                            <dt>Title</dt>
                            <dd>@movie.Title (@YearLink(movie.Year?.ToString()))</dd>
                        }
                        @if (movie.OriginalTitle != null)
                        {
                            <dt>Original Title</dt>
                            <dd>@movie.OriginalTitle (@YearLink(movie.Year?.ToString()))</dd>
                        }
                        @if (movie.Duration != null)
                        {
                            <dt>Duration</dt>
                            <dd>@(movie.Duration?.ToString(@"hh\:mm\:ss"))</dd>
                        }
                        @if (movie.MovieSet != null)
                        {
                            <dt>Saga</dt>
                            <dd>@MovieSetLink(movie.MovieSet.Name)</dd>
                        }
                        <dt>Budget</dt>
                        <dd>@movie.Budget.ToString("n")</dd>
                        <dt>Revenue</dt>
                        <dd>@movie.Revenue.ToString("n")</dd>
                        <dt>&nbsp;</dt>
                        <dd>&nbsp;</dd>
                        @if (movie.Relateds().Items.Count() > 0)
                        {
                            <dt>Related Movies</dt>
                            <dd>@RelatedsLink(movie)</dd>
                        }
                        <dt>Genres</dt>
                        <dd>@GenresLink(movie.Extender.Genres)</dd>
                        @if (!string.IsNullOrEmpty(movie.Extender.Countries))
                        {
                            <dt>Country</dt>
                            <dd>@CountriesLink(movie.Extender.Countries)</dd>
                        }
                        @if (!string.IsNullOrEmpty(movie.Extender.Companies))
                        {
                            <dt>Company</dt>
                            <dd>@CompaniesLink(movie.Extender.Companies)</dd>
                        }
                        <dt>&nbsp;</dt>
                        <dd>&nbsp;</dd>
                        <dt>Release Date</dt>
                        <dd>@(movie.ReleaseDate.HasValue ? movie.ReleaseDate.Value.ToString("dd/MM/yyyy") : string.Empty)</dd>
                        @if (movie.CreationDate != null)
                        {
                            <dt>Date Registered</dt>
                            <dd>@movie.CreationDate.Value.ToString("dd/MM/yyyy")</dd>
                        }
                        @if (movie.FilesNumber > 0 && Utils.CurrentUserId() != null)
                        {
                            <dt>Date Added</dt>
                            <dd>@movie.Files().Items.Min(f => f.IdFile.Reference.Filedate).ToString("dd/MM/yyyy")</dd>
                        }
                        <dt>Scraped Date</dt>
                        <dd>@(movie.ScrapedDate.HasValue ? movie.ScrapedDate.Value.ToString("dd/MM/yyyy") : string.Empty)</dd>
                        @if (movie.FirstViewed.HasValue && movie.FirstViewed.Value != movie.LastViewed.Value)
                        {
                            <dt>First Viewed</dt>
                            <dd>@movie.FirstViewed.Value.ToString("dd/MM/yyyy")</dd>
                        }
                        @if (movie.LastViewed != null)
                        {
                            <dt>Last Viewed</dt>
                            <dd>@movie.LastViewed.Value.ToString("dd/MM/yyyy")</dd>
                        }
                        <dt>&nbsp;</dt>
                        <dd>&nbsp;</dd>
                        <dt>Viewed Times</dt>
                        <dd>
                            <div class="row">
                                <span class="col-md-3" data-toggle="collapse" data-target="#viewed-colapse">@movie.ViewedTimes</span>
                                @Html.ActionLink($"Viewed Today", "AddViewed", new { movie_id = movie.IdMovie, file_id = movie.Files().Items.LastOrDefault()?.IdFile?.Value }, new { @class = "btn btn-default col-md-3" })
                            </div>
                            <div id="viewed-colapse" class="collapse">
                                <ul class="list-inline">
                                    @foreach (var vie in movie.Views().Datasource())
                                    {
                                    <li class="list-group-item" style="background-color:black">
                                        @Html.ActionLink(vie.DateStart.ToString("dd/MM/yyyy"), "DeleteViewed", new { movieid = movie.IdMovie, viewid = vie.IdView })
                                    </li>
                                    }
                                </ul>
                            </div>
                        </dd>
                        <dt>Popularity</dt>
                        <dd>@movie.Popularity</dd>
                        <dt>Votes</dt>
                        <dd>@movie.Votes</dd>
                        <dt>Casting Popularity</dt>
                        <dd>@movie.CastingPopularity</dd>
                        <dt>Rating</dt>
                        <dd>@Html.MweStarRating(movie.Rating)</dd>
                        @if (movie.CastingRating != null && Utils.IsLoggedUser())
                        {
                            <dt>Casting Rating</dt>
                            <dd>@Html.MweStarRating(movie.CastingRating)</dd>}
                        @if (movie.PredictedRating != null && Utils.IsLoggedUser())
                        {
                            <dt>Related Movies Rating</dt>
                            <dd>@Html.MweStarRating(movie.RelatedMoviesRating)</dd>}
                        @if (movie.PredictedRating != null && Utils.IsLoggedUser())
                        {
                            <dt>Predicted Rating</dt>
                            <dd>@Html.MweStarRating(movie.PredictedRating)</dd>}
                        @if (movie.UserRating != null && Utils.IsLoggedUser())
                        {
                            <dt>User Rating</dt>
                            <dd>@Html.MweStarRating(movie.UserRating, false)</dd>}
                        @if (movie.MPARating != null)
                        {
                            <dt>MPA Rating</dt>
                            <dd>@movie.MPARating</dd>}
                        @if (movie.AdultContent)
                        {
                            <dt>Adult Content</dt>
                            <dd>Yes</dd>}
                        @if (Utils.IsLoggedUser())
                        {
                            <dt>User comments</dt>
                            <dd>@Html.ActionLink("Comments", "MovieComments", new { id = movie.IdMovie })</dd>
                        }
                        <dt>&nbsp;</dt>
                        <dd>&nbsp;</dd>
                    </dl>
                </div>
            </div>
            <div class="col-md-6" style="padding:5px 0px 5px 2px;">
                <div class="col-md-12 @Utils.MovieBackClass(movie)" style="border-radius:12px;padding:0px;">
                    <dl class="dl-horizontal">
                        @if (!string.IsNullOrEmpty(movie.HomePage))
                        {
                            <dt>Home Page</dt>
                            <dd><a href=@movie.HomePage target="_blank">Home Page - @movie.Title</a></dd>
                        }
                        @if (movie.ImdbId != null)
                        {
                            <dt>Imdb</dt>
                            <dd><a href=@movie.Extender.ImdbUrl() target="_blank">Imdb - @movie.Title</a></dd>
                        }
                        @if (movie.TmdbId != null)
                        {
                            <dt>The Movie DB</dt>
                            <dd><a href=@movie.Extender.TmdbUrl() target="_blank">Tmdb - @movie.Title</a></dd>
                        }
                        <dt>Hispashare</dt>
                        <dd><a href=@movie.Extender.HispashareUrl() target="_blank">Hispashare - @movie.Title</a></dd>
                        <dt>&nbsp;</dt>
                        <dd>&nbsp;</dd>
                        @if (Utils.CurrentUserId() != null && lstmovies.Count() > 0)
                        {
                            foreach (var lfil in lstmovies)
                            {
                                <dt>
                                    @if (!enablelink)
                                    {
                                        @Html.ActionLink($"Enable Link", "DetailsLink", new { id = movie.IdMovie, enablelink = true }, new { @class = "btn btn-default" })
                                    }
                                    else
                                    {
                                        if (!string.IsNullOrEmpty(lfil.Elink))
                                        {
                                            <a class="btn btn-default" onclick="eMule('@lfil.Elink');"><img src="~/Resources/eMule-simple-icon.png" width="36px" height="36px" /></a>
                                        }
                                        if (!string.IsNullOrEmpty(lfil.TorrentLink))
                                        {
                                            <a href="@lfil.TorrentLink"><img src="~/Resources/magnet_PNG17040.png" width="36px" height="36px" /></a>
                                        }
                                    }
                                </dt>
                                <dd>
                                    @if (Utils.IsIntranet(movie.Title))
                                    {
                                        <span><a href="file:///@lfil.ToString()" target="_blank" content-disposition:filename="file:///@lfil.ToString()">@lfil.Filename</a><span class="glyphicon glyphicon-music"></span> @lfil.AudioTracks <span class="glyphicon glyphicon-subtitles"></span> @lfil.Subtitles</span>
                                    }
                                    else
                                    {
                                        <span>@lfil.Filename <span class="glyphicon glyphicon-music"></span>&nbsp;@lfil.AudioTracks<span class="glyphicon glyphicon-subtitles"></span>&nbsp;@lfil.Subtitles</span>
                                    }
                                </dd>
                            }
                            <dt>&nbsp;</dt>
                            <dd>&nbsp;</dd>
                        }
                        @if (!string.IsNullOrEmpty(movie.TagLine))
                        {
                            <dt>Tag Line</dt>
                            <dd>@movie.TagLine</dd>
                        }
                        <dt>Keywords</dt>
                        <dd>@KeywordLink(movie.Extender.Tags())</dd>
                        <dt>Summary</dt>
                        <dd>@movie.Extender.Summary</dd>
                        <dt>&nbsp;</dt>
                        <dd>&nbsp;</dd>
                    </dl>
                    @if (videos.Any())
                    {
                        <div class="col-md-12">
                            @if (videos.Any())
                            {
                                foreach (var vid in videos)
                                {
                                    <div class="col-md-6">
                                        @Html.YouTube().Video().Id(vid.Value).Width("100%").Height("150px")
                                    </div>
                                }
                            }
                        </div>
                    }
                    @*@if(media!=null)
                        {
                            <video controls="controls" id="videoPlayer">
                                <source src="@Url.Action("Video", "Movie", new { mediaFileid = media.IdMediaFile })" type="video/mp4">
                            </video>
                        }*@
                </div>
            </div>
            <div class="col-md-12" style="padding:0px;border-top-style:solid;border-top-width:1px;">
                @Html.DisplayFor(d => auxsep, "separator")
                <div class="col-md-12" style="padding:0px;border-top-style:solid;border-top-width:1px;">
                    @{
                        var lTypes = (from cst in movie.Casting().Items
                                      where cst.IdCastingType.Reference.ImportCrew
                                      group cst by cst.IdCastingType.Reference.Department into g
                                      orderby g.Key
                                      select new { Department = g.Key, Items = g.ToList().OrderBy(c => c.IdCastingType).ThenBy(c => c.Ordinal) }
                                        );

                        foreach (var dep in lTypes)
                        {
                            var department = dep.Items.FirstOrDefault().IdCastingType.Reference.Department;
                            @Html.DisplayFor(d => department, "castingsepthumb")
                            foreach (var cst in dep.Items)
                            {
                                Html.RenderAction("Casting", "Person", cst);
                            }
                        }
                    }
                </div>
            </div>
        </div>
        @if (movie.Relateds().Items.Count > 0 && movie.LastViewed != null)
        {
            <div class="col-md-12">
                <div class="col-md-12" style="padding:0px;border-top-style:solid;border-top-width:1px;">
                    @Html.DisplayFor(d => auxrelateds, "separator")
                    <div class="col-md-12" style="padding:0px;border-top-style:solid;border-top-width:1px;">
                        @Html.Action("MoviesRelated", "Movie", new { movie = movie.IdMovie })
                    </div>
                </div>
            </div>
        }
    </div>
}
