﻿@model MovieModel.Entities.Movie
@{
    var movie = Model;
    var comments = Model.Comments().Items;
    var newcom = Model.Comments().Create(false);
}
<div class="col-md-8">
    <div class="media mt-3">
        <a class="d-flex pr-3">
            <img src=@Url.Content("~/Resources/46-512.png") width="80px" height="80px">
        </a>
        <div class="media-body">
            @Html.TextAreaFor(Model => newcom.CommentText, 2, 25, new { @class = "form-control resizable style=\"width:80%\"" })
        </div>
    </div>
    @foreach(var com in comments)
    {
        @Html.DisplayFor(d=> com, "comment")
    }
</div>
