﻿@using KnkCore
@using MovieModel.Entities
@using MovieModel.Criterias
@using Movies.Web.Classes
@model MoviesCriteria
@{
    Utils.ConnectDatabase();
    var auxsep = new Tuple<string, string>("Movies Scraped From", "https://www.themoviedb.org/");
    MoviesCriteria lCri = Model;
    if (lCri == null)
    {
        lCri = SessionVars.GetCriteria();
    }

    ViewBag.Title = lCri.CriteriaTitle;

    var padding = lCri.AllowNavigate ? "padding:5px;" : "padding:0px;";
    List<Movie> list;
    if(!lCri.IsRelated)
    {
        var elements = lCri.Elements;

        int start = elements * (lCri.Page - 1);
        int end = elements * lCri.Page;

        list = (from m in lCri.RefreshList().Datasource()
                select m).Take(end).Reverse().Take(elements).Reverse().ToList();
    }
    else
    {
        list = lCri.RefreshList().Datasource();
        padding = "padding:0px;";
    }

}

<div class="col-md-12 knkmoviescontainer" style=@padding>
    @{
        if (Model != null)
        {
            Html.DisplayFor(d => auxsep, "separator");
        }
        foreach (Movie item in list)
        {
            Html.RenderAction("Thumbnail", "Movie", new { movie = item });
        }
        if (lCri != null && lCri.AllowNavigate)
        {
            Html.RenderAction("Pager", "MoviesCriteria", lCri);
        }
    }
</div>
