﻿@using MovieModel.Criterias
@using Movies.Web.Classes
@model MovieModel.Entities.Movie
@{
    var movie = Model;
    var stylecol = Utils.MovieColorClass(movie);
    var stylebak = Utils.MovieBackClass(movie);

    var dad = movie.GetParent();
    var role = string.Empty;
    if (dad.Sorting==null)
    {
        dad.SortAttribute = new KnkInterfaces.Interfaces.KnkSortAttribute("ReleaseDate");
    }
    if (dad.InfoValue?.Contains("MovieCasting.Role") ?? false)
    {
        var castid = int.Parse(dad.InfoValue.Split(':').LastOrDefault());
        var cast = movie.Casting().Items.Where(c => c.IdPerson == castid && c.IdCastingType.Reference.ImportCrew).OrderByDescending(c => c.IdCastingType.Value).FirstOrDefault();
        if (cast == null)
        {
            cast = movie.Casting().Items.Where(c => c.IdPerson == castid).OrderByDescending(c => c.IdCastingType.Value).FirstOrDefault();
        }
        role = cast.Role;
        movie.InfoValue = $"https://www.google.com/search?q={Uri.EscapeDataString(cast.IdPerson.Reference.Name + " " + movie.Title)}&tbm=isch";
    }
}
<div class="knkmoviethumb img-rounded text-center row @stylebak @stylecol" style="font-stretch:normal;">
    <div class="thumbnail knkmoviesmall">
        <a class="thumbnail knkmoviesmall" href=@Url.Action("Details", "Movie", new { id = movie.IdMovie })>
            <img class="knkmoviepicstyle" src=@movie.Extender.Poster />
        </a>
    </div>
    <div class="col-md-12" style="padding:2px;">
        <div class="col-md-2" style="padding:0px;height:100%;">
            <table style="border-right:dashed;border-width:1px;border-color:slategrey;font-size:smaller;width:100%">
                <col style="width:30%;text-align:left">
                <col style="width:70%;text-align:left">
                <tr>
                    <td >R</td>
                    <td>@movie.Rating.ToString("0.00")</td>
                </tr>
                @if (Utils.CurrentUserId() != null)
                {
                    <tr>
                        @if (movie.FilesNumber > 0)
                        {
                            <td>F</td><td>@(movie.FilesNumber)</td>
                        }
                        else
                        {
                            <td colspan="2">&nbsp;</td>
                        }
                    </tr>
                    <tr>
                        @if (movie.ViewedTimes > 0)
                        {
                            <td>VT</td><td>@(movie.ViewedTimes)</td>
                        }
                        else
                        {
                            <td colspan="2">&nbsp;</td>
                        }
                    </tr>
                    <tr>
                        @if (movie.PredictedRating.HasValue)
                        {
                            <td>PR</td><td>@( movie.PredictedRating.Value.ToString("0.00"))</td>
                        }
                        else
                        {
                            <td colspan="2">&nbsp;</td>
                        }
                    </tr>
                    <tr>
                        @if (movie.UserRating.HasValue)
                        {
                            <td>UR</td><td>@(movie.UserRating.Value.ToString("0.0"))</td>
                        }
                        else
                        {
                            <td colspan="2">&nbsp;</td>
                        }
                    </tr>
                }
            </table>
        </div>
        <div class="container-fluid" style="padding:5px;height:100%;">
            <div style="height:45px;vertical-align:text-top">@movie.Title (@movie.Year)</div>
            <div style="vertical-align:text-bottom">
                @if (string.IsNullOrEmpty(movie.InfoValue))
                {
                    @($"{movie.InfoText()}")
                }
                else
                {
                    <b><a href=@movie.InfoText() target="_blank">@role</a></b>
                }
            </div>
        </div>
    </div>
</div>
