﻿@using System.Linq
@model MovieModel.Entities.Movie
@{
    var movie = Model;
    ViewBag.Title = movie.Title;
    var auxsep = new Tuple<string, string>("Movie Scraped From", "https://www.themoviedb.org/");
    var comments = Model.Comments().Items;
    var newcomment = Model.Comments().Create(false);
    newcomment.UserCreationId = Utils.CurrentUser().IdUser;
    newcomment.IdMovieOwner = movie;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="col-md-4">
        <img src=@movie.Extender.Poster width="100%" />
    </div>

    <div class="col-md-8">
        @Html.DisplayFor(d => auxsep, "separator")
        <div class="col-md-12">
            @Html.DisplayFor(d => newcomment, "comment")
            @foreach (var com in comments)
            {
                @Html.DisplayFor(d => com, "comment")
            }
        </div>
    </div>
}







