<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KnkDataSqlServer.Properties.Settings.MoviesConnectionString"
            connectionString="Data Source=EDHEO10\SQLEXPRESS;Initial Catalog=Movies;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>